@using EcommAlgebra.Data
@model IEnumerable<UserViewModel>

<div class="d-flex justify-content-between">
    <h1>List of users</h1>
    <a asp-action="Create" class="btn btn-primary" style="height: fit-content">Create new user</a>
    </div>


<table class="table">
    <thead>
        <tr>

            <th>
                Email
            </th>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Address
            </th>
            <th>
                Role
            </th>
            <th>
                Edit
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>

                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Address</td>
                <td>@user.Role</td>
                <td>
                    <a class="btn btn-warning" asp-action="Update" asp-route-id="@user.UserId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>