@using EcommAlgebra.Data
@model IEnumerable<ApplicationUser>

<h1>List of users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Email
            </th>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Edit
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>
                    <a class="btn btn-warning" asp-action="Update" asp-route-id="@user.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>